*.Rproj*
.Rhistory
.Rproj.user
.Rhistory
.DS*
*._*
*placeholder*
data/*
data_processed/*
refs/*
final/*
.Rproj.user
data/*
**/*rds
**/*rda
**/*csv
**/*tsv
**/*app.R

/.quarto/
lessons/data_processed/
